* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item + .menu_item {
  border-left: 2px dotted #000;
  padding-left: 28px;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.subheader .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader .subheader_official {
  margin-top: 6px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.subheader .subheader_call {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  background: url(../img/bg/main_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo .promo_subheader {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 20px 0 0 0;
  text-align: center;
}

.promo .promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.benefits {
  padding: 71px 0 65px 0;
}

.benefits .benefits_header {
  width: 112px;
  height: 24px;
  background-color: #000;
  margin: 0 auto 38px auto;
  font-size: 11px;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
}

.benefits .benefits_subheader {
  font-size: 38px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.benefits .benefits-wrap {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .benefits_icon {
  display: inline-block;
  margin: 10px 26px 0 35px;
}

.benefits .benefits_text {
  max-width: 341px;
}

.benefits .benefits_title {
  font-size: 17px;
  color: #1eacc7;
}

.benefits .benefits_descr {
  margin-top: 4px;
  font-size: 15px;
  color: #202020;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */